#bottom-bar {
    background-color: rgb(22, 21, 21);
    margin: 0;
    padding:0;
    border-top: 1px solid rgba(150, 150, 79, 0.87);

}
#bottom-links {
    background-color: rgb(22, 21, 21);
    padding: 5.5rem 7rem;
    display: flex;
    flex-flow: row;
    flex-wrap: nowrap;
    justify-content: space-between;
   
}
#bottom-links ul {
    list-style: none;
    padding: 0;
}

.bottom-links-header {
    padding-bottom: 1rem;
    color: white;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    letter-spacing: 0.15rem;
}

.bottom-links-header-social {
    padding-bottom: 2rem;
    color: white;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    letter-spacing: 0.15rem;

}
.bottom-links-row {

    margin: 1rem 0;
    font-size: 1rem;
    color: rgba(150, 150, 79, 0.87);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    cursor: pointer;
}
.bottom-links-row:hover,.bottom-links-row:active {
    color: white;
}

.bottom-links-info {
    margin: 1rem 0;
    font-size: 1rem;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    cursor: pointer;
}
.bottom-links-info:hover,.bottom-links-info:active {
    color: grey;
}

.bottom-links-info i {
    color: grey;
    padding-right: 1.2rem;
    font-size: 1rem;
}

.bottom-links-info i.fa-instagram,i.fa-facebook-square,i.fa-twitter-square {
    color: white;
}
.bottom-links-info i.fa-instagram:hover  {
   font-size: 1.2rem;
   padding-right: 1rem;
}

.bottom-links-info i.fa-facebook-square:hover {
    font-size: 1.2rem;
    padding-right: 1rem;
    /* padding-top: 0.9;
    padding-bottom: 0.9rem; */
 }

 .bottom-links-info i.fa-twitter-square:hover {
    font-size: 1.2rem;
    padding-right: 1rem;
    /* padding-top: 0.9;
    padding-bottom: 0.9rem; */
 }

#bottom-bar hr {
    height: 1px;
    background: rgb(53, 51, 51);
    border: 0;
    margin: 0 7.5rem;
}
#bottom-bar p {
    padding: 1.2rem 0;
    margin: 0 7.5rem;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
}
#bottom-bar p span {
    padding: 0;
    margin: 0;
}
#established-year {
    color: white;
}

#developer-name {
    color: rgb(151, 140, 140);
}