#display {
    display: flex;
    flex-flow: column;
}

#you-may-like {
    margin: 0;
    padding: 0.5rem 8rem;
    color: rgba(0, 0, 0, 0.815);
    font-size: 2rem;
    font-weight: bolder;
    font-family: 'Allerta';
}


.similar-items-bar {
    position: relative;
    display:flex;
    flex-flow: row;
    height: 100%;
   
}

#scroll-left {
    position: absolute;
    width: 4rem;
    height: 12rem;
    float:right;
    top: calc(50% - 6rem);
    color: grey;
    border: 1px solid white;
    border-top-left-radius:1rem;
    border-bottom-left-radius:1rem;
    text-align: center;
    font-size: 3rem;
    font-weight: bolder;
}

#scroll-left:hover {
    background: rgba(128, 128, 128, 0.24);
    border: 1px solid rgba(128, 128, 128, 0.418);
}

.items-scroll-bar {
    margin: 1.5rem 4rem;
    display:flex;
    flex-flow:row-reverse;
    justify-items: center;
    align-items: center;
    overflow-x: hidden;
    scroll-behavior: smooth;
    box-sizing: border-box;

}

#scroll-right {
    position: absolute;
    width: 4rem;
    height: 12rem;
    right: 0;
    top: calc(50% - 6rem);
    background: white;
    color: grey;
    text-align: center;
    font-size: 3rem;
    font-weight: bolder;
    border: 1px solid white;
    border-top-right-radius:1rem;
    border-bottom-right-radius:1rem;
}

#scroll-right:hover {
    background: rgba(128, 128, 128, 0.24);
    border: 1px solid rgba(128, 128, 128, 0.418);
}


.similar-item-element {
    box-sizing: border-box;
    position: relative;
    margin: 1rem;
    padding: 0;
    min-width: 18rem;
    max-width: 18rem;
    justify-content: space-between;

    height: 34rem;   /* Calc(100% - 2rem) didnt work ????? */

    border: 1px solid rgba(128, 128, 128, 0.212);
    border-radius: 1rem;
    display: flex;
    flex-flow: column;
    align-items: center;
}

.similar-item-element:hover .similar-item-element-image{
   opacity: 0.2;
}
.similar-item-element:hover .similar-item-element-view {
    display: flex;
}
.similar-item-element-image {
    margin: 0.5rem;
    padding: 0;
    width: 10rem;
    height: 20rem;
    border: 0;
}

.similar-item-element-view {
    position: absolute;
    width: 10rem;
    height: 3rem;
    display: none;
    flex-flow: column;
    text-align: center;
    justify-content: center;
    top: 30%;
    margin: 0;
    padding: 0;
    background: rgb(189, 180, 98);
    outline: 6px double rgb(189, 180, 98);
    border: 3px groove transparent;
    font-size: 1.1rem;
    font-family: 'Allerta';
    font-weight: bold;
    color: white;
    letter-spacing: 0.9rem;
    cursor: pointer;

}

.similar-item-alcohol {
    width: fit-content;
    margin: 0;
    padding: 0.1rem;
    background-color: white;
    color: rgb(189, 180, 98);
    font-family: sans-serif;
    font-size: 1.1rem;
}

.similar-item-bitterness {
    width: fit-content;
    margin: 0;
    padding: 0.1rem;
    background-color: white;
    color: rgb(189, 180, 98);
    font-family: sans-serif;
    font-size: 1.1rem;
  
}


.similar-item-name {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    text-align: center;
    word-break: break-word;
    margin: 0;
    padding: 0.1rem;
    color: rgb(189, 180, 98);
    font-size: 1.2rem;
    font-family: 'Allerta';
    font-weight: bolder;
    letter-spacing: 0.15rem;
    word-spacing: 0.1rem;
    text-transform: uppercase;
}


.similar-item-price {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    text-align: center;
    word-break: break-word;
    margin: 0;
    padding: 0.1rem;
    color: black;
    font-family: 'Montez';
    font-size: 1.4rem;
    font-weight:700;
}

