html {
    font-size: 16px;
    scroll-behavior: smooth;
  }
  @media (max-width: 1400px) {
    html { font-size: 14px; }
  }
  @media (max-width: 1200px) {
    html { font-size: 12px; }
  }
  @media (max-width: 1050px) {
    html { font-size: 10px; }
  }
  @media (max-width: 860px) {
    html { font-size: 8px; }
  }
  @media (max-width: 700px) {
    html { font-size: 6px; } 
  }


body {
    margin: 0;
    padding: 0;
}
#nav-bar {
    background-image: url("img/nav-image.jpg");
    background-repeat: repeat;
    background-size: 50rem;

    
}
.nav-middle{
    margin: 0;
    padding: 0;
    max-height: 20rem;
    display: flex;
    flex-flow: column;
}

.nav-top {
    margin: 0;
    padding: 0;
    height: 3em;
    display: flex;
    /* background-color: black; */
    border-top: 0.11rem solid rgb(54, 51, 51);
    border-bottom: 0.11rem solid rgb(54, 51, 51);
}
.nav-top div:nth-of-type(1) {flex-grow: 1;}
.nav-top div:nth-of-type(2) {flex-grow: 6;}
.nav-top div:nth-of-type(3) {flex-grow: 0;}
.nav-top div:nth-of-type(4) {flex-grow: 1;}

.nav-top-social {
    display: flex;
    border-right: 0.11rem solid rgb(54, 51, 51);
    justify-content: right;
}


.nav-top-social .fa {
    font-size: 1.2rem;
    color: white;
    background-color: transparent;
    margin: 0.9rem 1.2rem auto 0;
    cursor:pointer;
}

.nav-top-social .fa:hover {
    font-size: 1.5rem;
    margin: 0.75rem 0.95rem auto 0;

}

.nav-top-empty {
    border-right: 0.11rem solid rgb(54, 51, 51);
}

.nav-top-search {
    display: flex;
    color: white;
    /* font-size: 1.2rem; */
    font-size: 1.2rem;
    font-weight: 600;
    font-family: 'Allerta';
    border-right: 0.11rem solid rgb(54, 51, 51);

}

.nav-top-search label {
    cursor: pointer;
    padding-right: 1.2rem;
}

.nav-top-search label:hover {
    background-color: rgb(54, 51, 51);
}

.nav-top-search .fa, span{
    margin: 0.9rem 0 auto 1.2rem;
}

.nav-top-cart label{
    display: flex;
    color: rgba(150, 150, 79, 0.87);
    font-size: 1.2rem;
    font-weight: 600;
    font-family: 'Allerta';
    font-weight: 600;
}

.nav-top-cart label {
    cursor: pointer;
    padding-right: 1.2rem;
    margin-right: -1.2rem;
}

.nav-top-cart label:hover {
   background-color: rgb(54, 51, 51);
}

.nav-top-cart .fa {
    margin: 0.9rem 0 auto 1.2rem;
}
#cart-icon-label {
    margin: 0.9rem 0 auto 1.2rem;
}
#cart-icon-count {
    margin: 0;
}


